<h2>Organisations</h2>

<div>
  <button type="button" class="add-button" routerLink="/organisation-add">
    Add Organisation
  </button>
</div>


<table class="mat-elevation-z8">
  <tbody>
    <tr *ngFor="let item of organisations">
      <td>
        <a routerLink="/orgnisation-detail/{{item.id}}">
          {{item.id}}
        </a>
      </td>
      <td>
        <a routerLink="/organisation-detail/{{item.id}}">
          {{item.name}}
        </a>
      </td>
      <td>
        <a title="delete organisation" (click)="delete(item)">
          <mat-icon>delete</mat-icon>
        </a>
      </td>

    </tr>
  </tbody>
</table>
