table {
    width: 100%; 
}

.table-pointer {
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.paginator {
    font-size: 10px;
    width: 100%;
}

.top {
    margin-top: 0.5em;
}